.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-login {
  margin: auto;
  text-align: center;
  position:absolute;
  top:40%;
  left:40%;
}

.App-login-header {
  text-align: right;
}

.App-login-button {
  text-align: center;
  margin: 5px 10px;
  cursor: pointer;
}

.App-login-note {
  margin: auto;
  text-align: center;
  position:absolute;
  text-align: left;
  font-size: 60%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.EndGame {
  text-align: center;
}

.EndGame-logo {
  height: 200px;
}

.EndGame-header {
  height: 150px;
  padding: 20px;
  color: white;
}

.EndGame-intro {
  font-size: large;
}

.lobby {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Modal Content/Box */
.lobby-modal-content {
  margin: 5% auto; /* 15% from the top and centered */
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.lobby-modal-textbox {
  border: 2px solid #333;
  width: 90%;
  text-align: center;
  padding: 5px;
  font-size: 24px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 10px;
  color: #333;
  background-color: #def;
}

.lobby-modal-button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 2px solid #333;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  background-color: #bed;
  color: #333;
}

.lobby-header-text {
  font-size: 32px;
  font-weight: bold;
  color: #333;
}

.lobby-text {
  font-size: 24px;
  color: #333;
}

.lobby-space {
  display: inline-block; 
  width: 10%;
}

.lobby-button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 2px solid #333;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  background-color: #bed;
  color: #333;
}

.lobby-big-button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 5px;
  border-radius: 5px;
  border: 2px solid #333;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 24px;
  background-color: #bdd;
  color: #333;
}

.lobby-table {
  margin: auto;
  border: 2px solid #333;
  border-collapse: collapse;
  font-size: 20px;
}

.lobby-table-header {
  padding: 10px;
  border: 2px solid #333;
  border-collapse: collapse;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  background-color: #ccc;
}

.lobby-wide-column {
  border: 2px solid #333;
  border-collapse: collapse;
  width: 300px;
  height: 0px;
  color: #333;
}

.lobby-narrow-column {
  border: 2px solid #333;
  border-collapse: collapse;
  width: 100px;
  height: 0px;
  color: #333;
}

.lobby-navigate-table {
  margin-left: auto; 
  margin-right: auto;
  text-align: center;
}

.lobby-navigate-column {
  width: 200px;
  height: 0px;
}

.lobby-navigate-button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 2px solid #333;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 22px;
  background-color: #eca;
  color: #333;
  width: 150px;
}

.lobby-empty-button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 2px solid #fff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  background-color: #fff;
  color: #fff;
}

.lobby-wide-column-borderless {
  border: 2px solid #fff;
  border-collapse: collapse;
  width: 300px;
  height: 0px;
  color: #fff;
}

.lobby-narrow-column-borderless {
  border: 2px solid #fff;
  border-collapse: collapse;
  width: 100px;
  height: 0px;
  color: #fff;
}

.lobby-no-room-text {
  margin-left: auto; 
  margin-right: auto;
  border: 2px solid #fff;
  border-collapse: collapse;
  width: 400px;
  height: 300px;
  color: #333;
  font-size: 24px;
  font-style: italic;
}

.lobby-container {
  width: 100%;
}

.lobby-header {
  height: 100px;
}

.lobby-main {
  height: 350px;
}

.lobby-footer {
  height: 140px;
}

.lobby-logout-button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 2px solid #333;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  background-color: #ebb;
  color: #333;
}