.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-login {
  margin: auto;
  text-align: center;
  position:absolute;
  top:40%;
  left:40%;
}

.App-login-header {
  text-align: right;
}

.App-login-button {
  text-align: center;
  margin: 5px 10px;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.EndGame {
  text-align: center;
}

.EndGame-logo {
  height: 200px;
}

.EndGame-header {
  height: 150px;
  padding: 20px;
  color: white;
}

.EndGame-intro {
  font-size: large;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.game-table {
    margin: auto;
    border: 4px solid #888;
    border-collapse: collapse;
}