.Board {
  text-align: center;
}

.Board-alignment {
  height: 100%;
  width: 100%;
}

table {
  border-spacing: 0px;
}

.TileCell {
  position: relative;
  padding: 0;
  margin: 0;
  border-width: 0px;
  height: 120px;
  width: 120px;
}

.TileCell img {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  height: 120px;
  width: 120px;
}

.TileCell .Suspect-pos {
  position: absolute;
  top: 40px;
  left: 40px;
  height: 40px;
  width: 40px;
  z-index: 2;
}

.DetectiveCell {
  position: relative;
  padding: 0;
  margin: 0;
  border-width: 0px;
  height: 120px;
  width: 120px;
}

/*.DetectiveCell:hover {
  background-color: lightslategray;
}*/

.DetectiveCell img {
  position: absolute;
  top: 40px;
  left: 40px;
  height: 40px;
  width: 40px;
  z-index: 1;
}

.UnusedCell {
  position: relative;
  padding: 0;
  margin: 0;
  border-width: 0px;
  height: 120px;
  width: 120px;
  background-color: darkorange;
}

.PlayerInfo {
  position: relative;
  padding: 0;
  margin: 0;
  border-width: 0px;
  background-color: dodgerblue;
}